.taxonomy {
    margin-bottom: 6vmin;
}

.taxonomy-media {
    overflow: hidden;
    margin: 0 auto 3rem;
    width: 90px;
    border-radius: 50%;
}

.tags-list {
    margin-top: 30px;
    font-size: 18px; 
}